# Скомпилированные бинарники
*.exe
*.exe~
Servo-Modquisitor-2

# Логи
app.log

# Сгенерированные ресурсы (syso)
rsrc_windows_*.syso

# Временные файлы fyne
fyne_metadata_init.go

# Папка с ресурсами go-winres
winres/

# Папка для vscode
.vscode/
